{% extends 'base.html.twig' %}

{% block title %}Modification des Commandes ADMIN{% endblock %}

{% block body %}
    <div class="container text-center my-2"><h1>Modifier la commande</h1></div>

    <div class="container">
        {{ form_start(commandeForm) }}
        {{ form_row(commandeForm.date_heure_depart) }}
        {{ form_row(commandeForm.date_heure_fin) }}
        {{ form_row(commandeForm.prix_total) }}
        <button type="submit" class="btn btn-warning">Enregistrer</button>
    {{ form_end(commandeForm) }}
    </div>
{% endblock %}
