{% extends "base.html.twig" %}

{% block title %}Gestion Membres
{% endblock %}

{% block body %}

	<br><h1 class="text-center">Gestion des Membres</h1>

	<div class="d-flex justify-content-center ">
		<table class="table table-bordered table-striped mt-5 w-75 border  table-dark">
			<thead class="bg-dark text-light">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Pseudo</th>
					<th scope="col">Nom</th>
					<th scope="col">Prenom</th>
					<th scope="col">Email</th>
					<th scope="col">Civilité</th>
					<th scope="col">Date enregistrement</th>
					<th scope="col" class="">Gestion</th>

				</tr>
			</thead>
			<tbody class="table-dark">
				<tr>

					{% for item in membre %}


						<tr>

							<td>{{ item.id }}</td>
							<td class="text-danger">{{ item.pseudo }}</td>
							<td>{{ item.nom }}</td>
							<td>{{ item.prenom }}</td>
							<td>{{ item.email }}</td>
							<td>{{ item.civilite }}</td>
							<td>{{ item.dateEnregistrement|date('d/m/Y') }}</td>

							<td>

								<a href="{{ path('admin_membre_edit', {id: item.id}) }}" class="text-warning">
									<i class="bi bi-person-gear pe-1"></i>
								</a>
								<a href="{{ path('membre_supprimer', {id: item.id}) }}" class="text-danger">
									<i class="bi bi-trash-fill ps-1"></i>
								</a>
							</td>
						</tr>

					{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>


{% endblock %}
