{% extends 'base.html.twig' %}

{% block title %}Gestion des commandes{% endblock %}

{% block body %}
    <h1>Gestion des commandes</h1>

    {{ form_start(commandeForm) }}
    <div class="container text-center">
        {{ form_label(commandeForm.date_heure_depart) }}
        {{ form_widget(commandeForm.date_heure_depart) }}
    
        {{ form_label(commandeForm.date_heure_fin) }}
        {{ form_widget(commandeForm.date_heure_fin) }}
        <button type="submit" class="btn btn-warning mt-4" >Valider</button>
    </div>
    
    {{ form_end(commandeForm) }}
{% endblock %}
