{% extends 'base.html.twig' %}

{% block title %}Nos Voitures!{% endblock %}

{% block body %}
<h1 class="text-center text-light">Nos Voitures!</h1>

<div class="container">
		<section class="row articles">

			{% for item in voitures %}


				<div class="col-md-6 mt-3 px-2 ">
					<div class="card bg-dark p-3">
						<img class="img-fluid" src="{{item.photo}}" alt="">
						<div class="card-body text-light">
							<h5 class="card-title">{{item.titre}}</h5>
							<div class="metadata my-2">Ajouté le
								{{item.dateEnregistrement|date('d/m/Y à H:i:s')}}
                            </div>
							<p class="card-text">{{ item.description|slice(0, 20)}}</p><hr>
							<div class="container d-flex">
								<a href="{{ path('voir_vehicule', {id: item.id}) }}" class="btn btn-primary">lire la suite</a>
								<h5 class="card-title ms-5 d-flex align-items-center">{{item.prixJournalier}}€</h5>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</section>
	</div>

{% endblock %}
